body{
    background-color: crimson;
    color: rgb(255, 255, 255)
}

img {
   width: 400px;
   height: auto;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

.subparrafo {
    font-size: 1.7em;
}

#ultimo{
    color:black
}