body{
    background-color: rgb(255, 64, 188);
    color: rgb(255, 255, 255)
}
#lienzo {
    width: 600px;
    height: 600px;
    border: 3px rgb(255, 255, 255) solid;
    background-color: rgb(24, 24, 24);
       display: flex;
    justify-content: center;
    align-items: center;

}

#Grasa{
    border-radius: 50%;
    width: 60%;
    height: 60%;
    background-color: rgb(104, 255, 157);
    position: relative;
 
}
.ojos{
      border-radius: 50%;
    width: 25%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

#ojoderecho{
  left: 57%;
  top: 15%
}
#ojoizquierdo{
   right: 57%;
   top: 15%;

}

#triangulo{
  position: absolute;
  top: -130px;/* mueve hacia abajo */
  left: 100px;
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom:180px solid #5a48ff;
}
#barita{
    width: 5%;
    height: 80%;
    background-color: rgb(0, 136, 255);
    position: ;absolute
    top:20%;
    left:20%;
}
#ba{
      border-radius: 0%;
    width: 10%;
    height: 10%;
    background-color: rgb(223, 255, 43);
    position: relative;
 
}
#boca{
    border-radius: 50%;
    width: 70%;
    height: 10%;
    background-color: rgb(255, 43, 114);
    position: relative;
   top: -90px;    /* mueve hacia abajo */
  left: 90px;  /* mueve hacia la derecha */

}
.pupilas{
      border-radius: 50%;
    width: 14%;
    height: 14%;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

#ojoderecho{
  left: 57%;
  top: %
}
#ojoizquierdo{
   right: 57%;
   top: 15%;

}
#nariz{
  position: absolute;
  top:  100px;/* mueve hacia abajo */
  left: 150px;
  width: 3;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom:90px solid #fd913f;
  }
#barba{
     width: 20%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top:-20%;
    left:40%;
}